@model RCScustomer.Models.PreviewSalesInvoiceClass

@{
    ViewBag.Title = "Estimates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using RCScustomer.Models
<script type="text/javascript">
    $(function () {
        $('#example4').dataTable();
    });

    $(document).ready(function (e) {
        $("#NoteDiv").hide();
      
        $("#Approved").click(function (event) {
            $("#Resubmit").hide();
            $("#Decline").hide();
           
            $("#NoteDiv").show();
            $("#EstimateStatus").val("1");
            if (($.trim($('#Remark').val()) == '')) {
                alert("RCS has received their accepted estimate and will proceed accordingly. Please enter some Note.");
                event.preventDefault();
                $("#NoteDiv").show();
            }
            $("#flag").val("2");
        });
        $("#Decline").click(function (event) {
            
            $("#NoteDiv").show();
            $("#Resubmit").hide();
            $("#Approved").hide();
            $("#EstimateStatus").val("2");
            if (($.trim($('#Remark').val()) == '')) {
                event.preventDefault();
                alert("RCS has received your request to reject this estimate. Would you like for RCS to re-visit this estimate, please leave feedback of your concerns. Note is Compulsory!");
              
            }
            $("#flag").val("2");
        });
        $("#Resubmit").click(function (event) {
            $("#NoteDiv").show();
            $("#Decline").hide();
            $("#Approved").hide();
            $("#EstimateStatus").val("3");
            if(($.trim($('#Remark').val()) == '')) {
                event.preventDefault();
                alert("RCS has received your request to resubmit this estimate, Please provide specific feedback of what you are wanting changed about this estimate. Note is Compulsory!");

            }
            $("#flag").val("2");
        });

    });

</script>


    <div class="row">
        <div class="col-xs-12">


            <div class="row invoice-info">
                <div class="col-sm-5 invoice-col">
                   
                </div>
                <div class="col-sm-2 invoice-col">
                    &nbsp;
                </div>
                <div class="col-sm-5 invoice-col">
                    <br /><br />
                    <h4>@Html.DisplayFor(m => m.Estimate_status)</h4>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-11">


            <div class="row invoice-info">

                <div class="col-sm-6 invoice-col">
                    @{
                        if (Model.config.IsServiceLicationVisible == false)
                        {
                            <label class="Underline">SERVICE LOCATION</label><br />
                            @Html.DisplayFor(m => m.ServiceLocation.Lname)<br />
                            @Html.DisplayFor(m => m.ServiceLocation.Address)<br />
                            @Html.DisplayFor(m => m.ServiceLocation.ZIPcode)<br />
                            @Html.DisplayFor(m => m.LocationCity)<br />
                            @Html.DisplayFor(m => m.locationState)<br />
                        }
                    }
                    @{
                        if (Model.config.IsCustomerPOVisible == false)
                        {
                            <label class="Underline">CUSTOMER PO : </label>
                            @Html.DisplayFor(m => m.Customer.ZIPcode)
                        }
                    }


                </div>
              

            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-xs-11">
            <table class="table table-bordered">

                <thead><tr><th>DESCRIPTION</th><th>QTY</th><th>COST</th><th>TOTAL</th></tr></thead>
                <tbody>
                    @{
                        if (Model.config.IsInvoiceDetailVisible == false)
                        {
                            foreach (var item in Model.InvoiceDetailList)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.ChargeTypeName)    <label>  </label>@Html.DisplayFor(m => item.Description)</td>
                                    <td>@Html.DisplayFor(m => item.Qty) </td>
                                    <td>@Html.DisplayFor(m => item.Rate)</td>
                                    <td>@Html.DisplayFor(m => item.Amt) </td>

                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td colspan="2">@MvcHtmlString.Create(Model.Remark)</td>
                        <td><label>TOTAL</label></td>
                        <td><label>$ </label> @Html.DisplayFor(m => m.Total)</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>@ViewBag.mess</h3>

    <input type="hidden"id="flag" name="flag" value="1" />
    @Html.HiddenFor(m => m.EstimateObj.InvoiceKey)
    @Html.HiddenFor(m => m.EstimateObj.Pkey)
    @Html.HiddenFor(m => m.EstimateObj.JobKey)
    @Html.HiddenFor(m => m.EstimateObj.IsNew)
    <div class="row">
        <div class="panel panel-default ">
            <div class="panel-heading">Respond</div>
            <div class="panel-body">
                <div class="form-horizontal">
                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">

                        <div class="form-group" id="NoteDiv">
                            @Html.LabelFor(model => model.Remark,"Note", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-7">
                              
                                @Html.TextAreaFor(model => model.EstimateObj.Remark, 5, 12, new { id = "Remark", @class = "form-control" })
                              
                                @Html.ValidationMessageFor(model => model.EstimateObj.Remark, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.EstimateStatus, new { id= "EstimateStatus" })
                            </div>
                        </div>   
                        <div class="form-group">
                          
                            <div class="col-md-7">
                                @*@Html.RadioButtonFor(model => model.EstimateStatus,1)  Accept Estimate As Approved<br />
                                @Html.RadioButtonFor(model => model.EstimateStatus, 2) Decline Estimate <br />
                                @Html.RadioButtonFor(model => model.EstimateStatus, 3) Resubmit Estimates<br />
                                @Html.ValidationMessageFor(model => model.EstimateStatus, "", new { @class = "text-danger" })*@

                                @{
                                    if (Model.EstimateObj.IsNew == false)
                                    {
                                        <label>Response : </label><br />
                                        @Html.DisplayFor(model => model.EstimateObj.ViewRemark)
                                    }
                                }         
                            </div>
                        </div>            
                     </div>                    
                </div>
            </div>
            <div class="panel-footer"> 
                @{
                    if (Model.EstimateObj.IsNew == true)
                    {
                        <input type="submit" name="Approved" id="Approved" value="Accept Estimate As Approved" class="btn btn-primary" /> <label>||</label>
                        <input type="submit" name="Decline" id="Decline" value="Decline Estimate" class="btn btn-primary" /> <label>||</label>
                        <input type="submit" name="Resubmit" id="Resubmit" value="Resubmit Estimates" class="btn btn-primary" /> 
                    }
                }             
                
                @Html.ActionLink("GO Back", "Index", "JobEstimate", null, null)||


                @Html.ActionLink("Ask YOUR RCS REP A QUESTION ABOUT THIS ESTIMATE","NotesandActivity", "JobDetails", new { id = Model.EstimateObj.JobKey }, null)
                </div>
        </div>
    </div>


                    }

