@model RCScustomer.Models.DashBoardJobRequest
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('#example4').dataTable();
    });
</script>

@section PageHeader{

    My Jobs Request

}
<div class="row">



    <table id="example4" class="table table-bordered">
        <thead>
            <tr>

                 
                <th>Location Name</th>
                <th>Location Contact Name</th>
                <th> Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Trade</th>
                <th>Job Priority</th>
               
              
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.JobRequestList)
            {
                <tr>

                    
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationContactAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationContactCityName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationContactStateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationContactZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TradeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobPriority)
                    </td>                  
                


                    <td>
                        @{
                            if (item.IsRequest == true)
                            {
                                @Html.ActionLink("Edit", "EditJobRequest", "JobRequest", new { id = item.RequestKey }, null) <label>||</label>
                                @Html.ActionLink("Delete", "Delete", "JobRequest", new { id = item.RequestKey }, new { onclick = "return confirm('Are you sure you want to Remove this?')" })<label>||</label>

                            }
                        }
                       
                        @Html.ActionLink("Details", "Details", "JobRequest", new { id = item.RequestKey }, null)
                    </td>


                </tr>
            }
        </tbody>
    </table>


</div>



