@model RCScustomer.Models.DashboardClass

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#example4').dataTable();
    });
</script>
@using RCScustomer.Models



@section PageHeader{
<div class="row">

    <div class="col-md-6">
        My RCS Jobs
    </div>

            <div class="col-md-6">
                <h5><a href="@Url.Action("Create","JobRequest")"><i class="glyphicon glyphicon-bell"></i> New Service Request</a></h5>
            </div>

      

</div>


  

}



<div class="row">

            <div class="col-md-6">
                <h4>
                    <label>Welcome :   </label> @Html.DisplayFor(m => GlobalClass.LoginUser.Cname)
                    <label> ( </label> @Html.DisplayFor(m => m.CustomerObj.Cname) @*@Html.DisplayFor(m => GlobalClass.LoginUser.Title)*@ <label> ) </label>
                </h4>
            </div>
       


</div>

<div class="row">
   
 
       
        <table id="example4" class="table table-bordered">
            <thead>
                <tr>
                   
                    <th>Customer<br />Job Name</th>
                    <th>Service<br />Location</th><th>Trade</th>
                    <th>Account<br />Manager</th>
                    <th>Status</th>
                    <th>Job Enter<br />Date</th>
                    <th>Schedule <br />Date</th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.FirstGrid)
                {
                    <tr>
                       
                        <td>
                            <a href="@Url.Action("ViewJobDetails", "JobDetails", new { id = item.JobKey })">@Html.DisplayFor(modelItem => item.JobName)</a>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TradeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountManager)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.EDate)
                        </td>
                        <td>
                            @string.Format("{0:d}", item.SDate)
                        </td>
                      

                        <td>
                            @Html.ActionLink("View Notes", "NotesandActivity", "JobDetails", new { id = item.JobKey }, null)

                        
                        </td>


                    </tr>
                }
            </tbody>
        </table>

  
</div>